<div class="w3-sidebar w3-light-grey w3-card-4" id="sidebar">
    <div class="w3-bar ie-orange">
        <h3 class="w3-bar-item w3-padding-16">СИО Адаптер</h3>
    </div>
    <div class="w3-bar-block">

        {{#each sidebar.sections}}
            <a href="#" id="this.id" 
                class="nav-item-container w3-button {{#if this.active}}active{{/if}}" click="clickMenuSection">{{this.title}}</a>
            <div id="stat-box" class="{{#if this.active}}w3-show{{else}}w3-hide{{/if}} sub-items">
                {{#each this.pages}}
                <a href="{{this.url}}" class="nav-item w3-bar-item w3-button {{#if this.active}}active{{/if}}">{{ this.title }}</a>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>