<div id="app">
    <div class="w3-main" id="main">
        <div class="w3-container" style="margin-top: 40px; margin: 100px auto; text-align: center;">
            <h1>Здоровеньки булы!</h1>
            <p>Работаю)</p>
        </div>
    </div>
</div>




<script>

    // Наш объект data
    const xdata = {
        sidebar: {
            sections: []
        }
    }

    // Объект добавляется в экземпляр Vue
    const vm = new Vue({
        el: '#app',
        data: xdata,
        methods: {
            clickMenuSection: function (event) {
                console.log(event);
            },
            test: function () {
                console.log('vm.test()');
            }
        }
    });

    function main(){
        console.log('READY INDEX');
        vm.test();
    }

</script>