<div class="w3-main" id="main">
    <div class="w3-container" style="margin-top: 40px; margin: 100px auto; text-align: center;">
        <h1>{{data.code}}</h1>
        <p>{{data.msg}}</p>
    </div>
</div>
